* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  --primaryColor: #27ae60;
  --secondaryColor: #8e44ad;

  --grayText: #7f8c8d;
  --whiteText: #ecf0f1;
  --blackText: #2c3e50;
}
