/* Modal */
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: hsla(0, 0%, 71%, 0.3);
  backdrop-filter: blur(0.5px);
  overflow-x: hidden;
  transition: 0.5s;

  .modalContainer {
    max-width: 530px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    z-index: 200;

    @media screen and (max-width: 700px) {
      flex-direction: column;
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: 100vh;
    }

    .container__m {
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem;
      box-sizing: border-box;

      width: 100%;
      height: 100%;

      @media screen and (max-width: 800px) {
        padding: 2rem 1.5rem;
      }

      .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        i {
          font-size: 1.4rem;
          cursor: pointer;
          color: var(--primaryColor);
          padding: 3px 3px;
          box-sizing: border-box;
          border-radius: 50%;
          transition: 0.3s ease-in-out;
        }
      }

      .modalHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .modalHeaderText {
          font-size: 1.8rem;
          font-weight: 600;
          color: var(--primaryColor);
          margin-bottom: 1rem;
        }
      }

      .modalInput {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        input {
          width: 100%;
          height: 3rem;
          border: 1px solid var(--grayText);
          border-radius: 5px;
          padding: 0 1rem;
          box-sizing: border-box;
          margin-bottom: 1rem;
          font-size: 1.2rem;
          outline: none;
          transition: 0.3s ease-in-out;

          &:focus {
            border: 1px solid var(--primaryColor);
          }
        }
      }

      .modalButton {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        .btn {
          width: 100px;
          height: 40px;
          border: none;
          border-radius: 20px;
          background-color: var(--primaryColor);
          border: 2px solid var(--primaryColor);
          color: white;
          font-size: 1.2rem;
          font-weight: 600;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
